[Unit]
Description=GPS Data Ingestor TCP Server
After=network.target

[Service]
Type=simple
User=gps-ingestor
Group=gps-ingestor
WorkingDirectory=/opt/gps-data-ingestor
ExecStart=/opt/gps-data-ingestor/main
StandardOutput=journal
StandardError=journal
SyslogIdentifier=gps-ingestor
LogsDirectory=gps-ingestor
LogsDirectoryMode=0755
AmbientCapabilities=CAP_NET_BIND_SERVICE
Restart=on-failure
RestartSec=10
KillMode=mixed
TimeoutStopSec=5

[Install]
WantedBy=multi-user.target