[Unit]
Description=GPS Data Ingestor Gunicorn daemon
After=network.target

[Service]
Type=notify
User=nginx
Group=nginx
RuntimeDirectory=gunicorn
WorkingDirectory=/opt/gps-data-ingestor
Environment="PATH=/opt/gps-data-ingestor/venv/bin"
ExecStart=/opt/gps-data-ingestor/venv/bin/gunicorn -c configs/gunicorn.prod.conf.py main:app
ExecReload=/bin/kill -s HUP $MAINPID
Restart=on-failure
RestartSec=10
KillMode=mixed
TimeoutStopSec=5

[Install]
WantedBy=multi-user.target